
<div class="quizz__container">
  <div class="contacts">
    <ul>
      <li><a href="https://www.linkedin.com/in/willia-silva-96a40b1b1/">Linkedin</a></li>
      <li><span>•</span></li>
      <li><a href="https://github.com/Willia-Developer">Github</a></li>
      <li><span>•</span></li>
      <li><a href="https://www.instagram.com/_willia_silva/">Instagram</a></li>
    </ul>

  </div>
 <div class="quizz_logo">

<h3>{{title}}</h3>
</div>

 <div *ngIf=!finished class="quizz_questions">
  <h3>{{questionSelected.question}}</h3>
</div>

<div *ngIf=!finished class="quizz_options">

<button *ngFor="let option of questionSelected.options; let i = index"
(click)="playerChoose(option.alias)"
class="btn-option"
>
   {{option.name}}

</button>

</div>

<div *ngIf=finished class="quizz_results">
<h1>O seu resultado é:</h1>
<p>{{answerSelected}}</p>
</div>
</div>
